body {
  background-color:#F8EADC;
}

h1 {
  text-align: center;
  color: #778BBE;
  font-family: 'Open Sans Condensed', sans-serif;
}

.buttons {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.new-bookmark, #dropdown {
  background-color: #F59BAD;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
}
#dropdown{
  padding: 12.5px;
}

.dropdown-menu{
  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete{
  background-color: #F59BAD;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 10%;
  margin: 5px;
}

a{
  color: #F59BAD;
  text-decoration: none;
  cursor: pointer;
}

.drpbtn {
  background-color: #F59BAD;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-rating {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.btn{
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #FAD0D5;
  color: white;
}

.dropdown-rating .btn i{
  color: white;
  padding: 5px 65px;
  float: right; 
  text-decoration: none;
}



.dropdown:hover .dropdown-rating{
  display: block;
}

.bookmarks{
  border: none;
}

.accordion {
  background-color: #9EDEF9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: 0.4s;
  font-size: 15px;
  
  
}

.active, .accordion:hover{
  background-color: #778BBE;
  color: #F59BAD;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02796";
}

ul{
  list-style-type: none;
  margin: 16px;
  padding: 0;
}

.add-bookmark-form{
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=radio]{
  margin-left: 5px;
}

.full{
  margin-right: 5px;
}

input[name=bookmark-name], input[name=url], input[name=desc]{
  border: #9EDEF9;
  margin: 5px;
}

input[type=text]{
  width: 50%;
}

#add-submit{
  background-color: #F59BAD;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: 5px;
}

#cancel-add-button{
  background-color: #F59BAD;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: 5px;
}

@media screen and (min-width: 380px){
  .new-bookmark, #dropdown {
    background-color: #F59BAD;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
  }
}

@media screen and (min-width: 800px){
  body {
    background-color:#F8EADC;
  }
  
  h1 {
    text-align: center;
    color: #778BBE;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .buttons {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .new-bookmark, #dropdown {
    background-color: #F59BAD;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
  }
  #dropdown{
    padding: 12.5px;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delete{
    background-color: #F59BAD;
    cursor: pointer;
    border: none;
    padding: 5px;
    width: 10%;
    margin: 5px;
  }
  
  a{
    color: #F59BAD;
    text-decoration: none;
    cursor: pointer;
  }
  
  .drpbtn {
    background-color: #F59BAD;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-rating {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
  }
  
  .btn{
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #FAD0D5;
    color: white;
  }
  
  .dropdown-rating .btn i{
    color: white;
    padding: 5px 65px;
    float: right; 
    text-decoration: none;
  }
  
  
  
  .dropdown:hover .dropdown-rating{
    display: block;
  }
  
  .bookmarks{
    border: none;
  }
  
  .accordion {
    background-color: #9EDEF9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    
    
  }
  
  .active, .accordion:hover{
    background-color: #778BBE;
    color: #F59BAD;
  }
  
  .content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\02796";
  }
  
  ul{
    list-style-type: none;
    margin: 16px;
    padding: 0;
  }
  
  .add-bookmark-form{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rating{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type=radio]{
    margin-left: 5px;
  }
  
  .full{
    margin-right: 5px;
  }
  
  input[name=bookmark-name], input[name=url], input[name=desc]{
    border: #9EDEF9;
    margin: 5px;
  }
  
  input[type=text]{
    width: 50%;
  }
  
  #add-submit{
    background-color: #F59BAD;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 5px;
  }
  
  #cancel-add-button{
    background-color: #F59BAD;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 5px;
  }
}