body {
  background-color:#F8EADC;
}

h1 {
  text-align: center;
  color: #778BBE;
}

.buttons {
  text-align: center;
}

.new-bookmark {
  background-color: #F59BAD;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
}

.drpbtn {
  background-color: #F59BAD;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-rating {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.btn{
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #FAD0D5;
  color: white;
}

.dropdown-rating .btn i{
  color: white;
  padding: 5px 65px;
  float: right; 
  text-decoration: none;
}



.dropdown:hover .dropdown-rating{
  display: block;
}

.bookmarks{
  border: none;
}

.accordion {
  background-color: #9EDEF9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: 0.4s;
  font-size: 15px;
}

.active, .accordion:hover{
  background-color: #778BBE;
  color: #F59BAD;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02796";
}

